{block name="meta"}
	{include file="public/meta" /}
{/block}

{block name="seo"}
	{include file="public/seo" /}
{/block}

{block name="header"}
	{include file="public/header" /}
{/block}

{block name="menu"}
	{include file="public/menu" /}
{/block}

{block name="content"}
	{include file="public/content" /}
{/block}

{block name="footer"}
	{include file="public/footer" /}
{/block}

{block name="js"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}

</body>
</html>